/base_bhkcollision_box2.nif
/base_bhkcollision_capsule2.nif
/base_bhkcollision_sphere2.nif
/base_bhkcollision_triangle2.nif
/base_bhkcollision_box1.nif
/base_bhkcollision_capsule1.nif
/base_bhkcollision_sphere1.nif
/base_bhkcollision_triangle1.nif
